@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #080404;
}

html {
  font-family: "Montserrat";
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background: var(--background);
  color: white;
}

.logo {
  width: 40px;
}

#navigation-bar {
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--background);
  padding: 5px 0;
  width: 100%;
}

.home {
  width: 30px;
  color: white;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  margin-left: 10px;
  border-radius: 50px;
  padding: 10px;
  background-color: #202020de;
  width: 400px;
  height: 50px;
  font-size: 16px;
  color: white;
}

#navigation-bar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

#navigation-bar a:hover {
  text-decoration: underline;
}

.profile-pic {
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.album-container {
  width: 25%;
  background-color: #121212;
  padding: 15px;
  border-radius: 7px;
  margin-left: 7px;
}

#ablum-parent {
  padding-top: 4%;
  display: flex;
  gap: 3%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 2000px;
}

.btn-container {
  padding: 10px 0 10px 0;
}

.playlist-btn {
  border-radius: 30px;
  width: 90px;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  background-color: #201c1c;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.playlist-btn:hover {
  background-color: #2e2a2ade;
}

.album-demo {
  display: flex;
}

.album-demo img {
  width: 50px;
  margin-right: 10px;
  border-radius: 7px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #121212;
  border-radius: 10px;
  padding: 5%;
}

.wrap-topic {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10%;
}

.wrap-topic .topic {
  border-radius: 30px;
  background-color: #201c1c;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}

.radio .title-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: white;
  font-weight: 700;
}

.show-all {
  font-weight: 700;
  font-size: 14px;
  color: #686969;
  cursor: pointer;
}

.show-all:hover {
  text-decoration: underline;
  color: #767777;
}

#list-card {
  margin-top: 4%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  width: calc(100% / 6 - 10px);
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}

.card:hover {
  background-color: #686868;
  transition: 0.5s;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card:hover img {
  transform: scale(1.05);
  transition: 0.5s;
}

.card p {
  padding-top: 10px;
  font-size: 1rem;
}

.card .box-play {
  position: absolute;
  background-color: rgb(9, 110, 9);
  border-radius: 50%;
  padding: 10px 13px;
  opacity: 0;
  bottom: 0;
  right: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.2s all ease-in-out;
}

.card:hover .box-play {
  bottom: 30%;
  right: 10%;
  opacity: 1;
}

#albums {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-direction: column;
}

.album-top input {
  color: white;
  border: none;
  outline: none;
  background: transparent;
}

.wrap-input {
  display: flex;
  flex-direction: row;
  width: 45%;
  background-color: #202020de;
  padding: 10px;
  font-weight: 700;
  border-radius: 10px;
}

.wrap-input:focus {
  border: 1px solid #686868;
}

.wrap-input i {
  padding-right: 10px;
}

.background img {
  width: fit-content;
  position: absolute;
}

.artist {
  width: 100%;
  height: 70%;
}

.background {
  height: 30%;
  width: 100%;
}

.artistInfo h1 {
  font-size: 5.5rem;
  font-weight: 800;
}

.options {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 100;
  position: relative;
  justify-content: start;
  align-items: center;
}

.options i, button {
  margin-right: 40px;
}

.options i:nth-child(1) {
  font-size: 50px;
  cursor: pointer;
}

.options i:nth-child(3) {
  font-size: 30px;
  justify-content: center;
  cursor: pointer;
}

.follow {
  width: 70px;
  padding:6px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.header-artist {
  display: flex;
  opacity: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  position: fixed;
  z-index: 100;
  color: white;
  padding: 10px;
  background-color: #4a7e3da6;
  width: 100%;
  top: 8%;
  transition: 0.5s ease-in-out;
}

.header-artist i {
  font-size: 50px;
}

.song-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  cursor: pointer;
}

.song-container:hover{
  background-color: #686868;
  border-radius: 10px;
}

.img-thumbnail{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 5%;
  padding:7px;
}

.thumbnail{
  width: 14%;
  height: 14%;
  border-radius: 5px;
}